{% extends 'layout.html' %}

{% block body %}
      <table border = 1>
         <thead>
            <td>Class_ID</td>
            <td>DayCode</td>
            <td>Time</td>
            <td>Course_ID</td>
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row["Class_ID"]}}</td>
               <td>{{row["DayCode"]}}</td>
               <td>{{row["Time"]}}</td>
               <td>{{row["Course_ID"]}}</td>
            </tr>
         {% endfor %}
      </table>	
{% endblock %}
