{% extends 'layout.html' %}

{% block body %}
  <div class="text-right" align="right">
    <h1>Welcome To UADS</h1>
    <p class="lead">Please login to view academic data</p>
  </div>
  <div class="logins" align="left">
    <div class="login">
	    <h1><a href="/student">Student Access</a></h1>    
    </div>
    <div class="login">
	    <h1><a href="/professor">Professor Access</a></h1>    
    </div>
    <div class="login">
	    <h1><a href="/admin">Admin Access</a></h1>    
    </div>
  </div>
{% endblock %}
